<html>
<head>
      <title>CW-WWW: Søk i ComputerWorld 1993 til 1996</title>
</head>
<body bgcolor="#ffffff">
<img alt="Computer World i World Wide Web" src=gifs/cw-logo.gif>

<h2>
 Søk i ComputerWorld 1993 til 1996
</h2>
<p>
Denne søkefunksjonen er satt opp i anledning Oslonett 10-års jubileet,
og er ikke spesielt rask eller avansert, siden det ikke benyttes en
ferdig søkeindeks,  men det søkes direkte via Perl inn i de enkelte
artikkelfilene. Store og små bokstaver behandles likt, og flere ord
betraktes som en sammenhengende frase.
</p>
<p><b>@N@ treff ved søk etter <u>@STRING@</u></b></p>
<blockquote>
@LIST@
</blockquote>
<form method="POST" action="search.cgi">
<p>Søketekst : <input name="string" value="@STRING@"></p>
<input type="submit"><input type="reset">
</form>
<hr>   
 <a href=maps/art.map><img alt="" src="gifs/artmap.gif" ismap></a>
<hr>

<h5>CW-WWW er tilrettelagt av Oslonett AS
<p>
<a href="/">
  <img alt="Oslonett A/S." src="/img/on.gif" border=0></a>
</h5>


</body>
</html>


