<?xml version="1.0" encoding="iso-8859-1"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta name="generator" content="HTML Tidy, see www.w3.org" />
    <title>
      Tips en bekjent om Oslonett jubileumsforedragene 
    </title>
    <link type="text/css" rel="stylesheet"
    href="/css/oslonett.css" />
  </head>
  <body class="main">
    <!--#include virtual="/ssi/head_main.html" -->
    <table width="100%" border="0" cellspacing="0" cellpadding="10">
      <tr valign="top">
        <!--#include virtual="/ssi/left_historie.html" -->
        <td>
          <h2>
            Tips en bekjent om Oslonett jubileumsforedragene 
          </h2>
          <p>
            Fyll ut ditt eget navn og e-mail, samt e-mail adressen 
            til personen du vil tipse.
            Mail vil bli sendt til mottager med tips om URL <b>@URL@</b>.
            Som kvittering får du bare opp forsiden på dette nettstedet igjen.
          </p>

          <div class="frame">
            <form method="POST" action="/cgi/mailto.cgi">
             <input name="receipturl" type="hidden"  value="http://www.oslo.net/">
             <input
              type="hidden" name="subject"
              value="Tips om interessant nettsted : @URL@" />

              <table cellpadding="2" cellspacing="2">
                <tr>
                  <td>
                    Ditt navn
                  </td>
                  <td>
                    <input name="Tips sendt av" class="input" size="20" /> 
                  </td>
                </tr>
                 <tr>
                  <td>Din email adresse</td>
                  <td>
                     <input name="replyto" class="input">
                  </td>
                 </tr>
                <tr>
                  <td>
                    Tips sendes til E-mail
                  </td>
                  <td>
                    <input name="to" class="input" size="20" /> 
                  </td>
                </tr>
                <tr valign="top">
                  <td>
                    Evt ekstra tekst
                  </td>
                  <td>
                    <textarea rows="2" cols="30" name="Info"></textarea>
                  </td>
                </tr>
              </table>
              <input class="submit" type="submit"
              value="Send tipset" />
            </form>
          </div>

        </td>
      </tr>
      <!--#include virtual="/ssi/address_main.html" -->
    </table>
  </body>
</html>

