<html>
<head>
      <title>Søk i Morgenbladet nr 16/95 til 5/96</title>
</head>
<body bgcolor="#ffffff">
<a href="/historie/MB/"><img border="0" alt="Morgenbladet i World Wide Web" src=/historie/MB/gifs/mb-head.gif></a>

<h2>
 Søk i Morgenbladet 1995 til 1996
</h2>
<p>
Denne søkefunksjonen er satt opp i anledning Oslonett 10-års jubileet,
og er ikke spesielt rask eller avansert, siden det ikke benyttes en
ferdig søkeindeks,  men det søkes direkte via Perl inn i de enkelte
artikkelfilene. Store og små bokstaver behandles likt, og flere ord
betraktes som en sammenhengende frase.
</p>
<p><b>@N@ treff ved søk etter <u>@STRING@</u></b></p>
<blockquote>
@LIST@
</blockquote>
<form method="POST" action="search.cgi">
<p>Søketekst : <input name="string" value="@STRING@"></p>
<input type="submit"><input type="reset">
</form>
<hr size="1" noshade>
[ <a href="/historie/MB/">Hjem</a> ][ <a href="/historie/MB/search.cgi">Søk</a> ][ <a href="/historie/MB/hjelp.html">Hjelp</a> ]  [ <a href="/historie/MB/utg/current.html#perspekt">Perspektiv</a> | <a href="/historie/MB/utg/current.html#aktuelt">Aktuelt</a> | <a href="/historie/MB/utg/current.html#kritikk">Kritikk</a> ]
<hr>

<h5>Morgenbladet på web  er tilrettelagt av Oslonett AS
<p>
<a href="/">
  <img alt="Oslonett A/S." src="/img/on.gif" border=0></a>
</h5>


</body>
</html>


