<html>
<head>
 <title>The 1994 Winter Olympics at Lillehammer - Search page</title>
</head>
<body>
<h1> The 1994 Winter Olympics at Lillehammer - Search Page</h1>
<img src=/oslonett/historie/OL/gifs/Ringene-small.gif>

<hr>


<h2>@N@ hits when searching for <u>@STRING@</u> in @SOURCE@ pages</h2>
<blockquote>
@LIST@
</blockquote>

    <h2>
      Search in results pages
    </h2>
    <form method="POST"
    action="/oslonett/cgi/search.cgi">
<input name="source" value="results" type="hidden">
<pre>
Give new search string   : <input name="string" size="54" value="@STRING@"/>

Search all results       : <input type="submit" value="OK" />

</pre>
    </form>
    <hr />
    <h2>
      Search in NTB Wire News Database (NB! Norwegian)
    </h2>
     <form method="POST"
    action="/oslonett/cgi/search.cgi">
<input name="source" value="wire news" type="hidden">
		<input name="topdir" value="meldinger" type="hidden">
<pre>
Give new search string   : <input name="string" size="56" value="@STRING@"/>

Search NTB wire news     : <input type="submit" value="OK" />

</pre>
    </form>

<hr>
  <a href=/oslonett/historie/OL/OL94.html>
     <img alt="[Olympic Home Page]" src=/oslonett/historie/OL/gifs/OLhome.gif></a>
  <a href=/oslonett/historie/OL/Images.html>
     <img alt="[GIF Image Archive]" src=/oslonett/historie/OL/gifs/gifs.gif></a>
<hr>
<b>Results from The 1994 Winter Olympics are distributed to the Internet in a joint effort by
<p>
  <a href=http://priv.infostream.no/oslonett/>
     <img alt="[Oslonett Inc.]" src=/oslonett/historie/OL/gifs/ON.gif></a>
<p>
and Norsk Telegrambyrå.
<hr>
<address>
Template last edited on Sun Feb 27 19:50:00 MET 1994
</address>
</body>
</html>

